{% load staticfiles %}

<section class="main-slider">
    <div class="owl-carousel">
        <div class="item" data-dot="<span></span>">
            <img src="{% static '/slider/scroll.png' %}">
            <div class="slide-content">
                <h2>Many year of experience...</h2>
            </div>
        </div>
        <div class="item" data-dot="<span></span>"><img src="{% static '/slider/slide_2.png' %}">
            <div class="slide-content">
                <h2>Many year of experience...</h2>
            </div>
        </div>
        <div class="item" data-dot="<span></span>"><img src="{% static '/slider/slide_3.png' %}">
            <div class="slide-content">
                <h2>Many year of experience...</h2>
            </div>
        </div>
    </div>
</section>