{% load static %}
<section class="testimonials-wrapper">
    <div class="testimonials-description">
        <h2><span>Quality And Professional</span> experience</h2>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi at culpa cumque dolore doloribus, eum
            explicabo labore minima omnis pariatur perspiciatis
            <br>"ISODUR HOUSE" - reprehenderit repudiandae sed tempora ullam voluptates!</p>-->
    </div>
    <div class="testimonials-img-wrapper">
        <div class="item">
            <div class="image_block_outside">
                <img class="position_img" src="{% static "ourProduct/img_pro_1.png" %}" alt="">
            </div>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>-->
        </div>
        <div class="item">
            <div class="image_block_outside">
                <img class="position_img" src="{% static "ourProduct/img_pro_2.png" %}" alt="">
            </div>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>-->
        </div>
        <div class="item">
            <div class="image_block_outside">
                <img class="position_img" src="{% static "ourProduct/img_pro_3.png" %}" alt="">
            </div>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>-->
        </div>
    </div>
</section>