{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}

    <div class="product-wrapper_2prod">
        <div class="wrraper_top_block">
            <div class="product-description">
                <h3 class="prod-title">{% trans 'D’autre produit en polystyrene' %}
                    <span>{% trans 'fabriqué par ISODUR' %}</span></h3>
                <div class="wrapper-feedback_block">
                    <div class="feedback_text_block for_product_3_isodure">
                        <h1>{% trans 'Bloc de polystyrène pour remblais et route' %}</h1>
                        <p>
                            {% blocktrans %}
                                Les blocs de polystyrène expansé ISODUR BOX sont disponibles pour
                                différentes densités et sont utilisés autant pour la construction de remblais que
                                pour l'isolation de route.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                Les blocs ISODUR BOX sont légers et sont fabriqués en plusieurs dimensions
                                pour répondre à différents types d'applications et de budgets. La grande
                                résistance des blocs de polystyrène aux variations de température en fait un
                                produit de choix pour l’isolation des routes et la construction de remblais. C’est
                                pour ces raisons que les blocs ISODUR BOX sont de plus en plus intégrés aux
                                ouvrages de génie civil et d’aménagement paysager.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                L'expertise développée par ISODUR au cours des 10 dernières années vous
                                permet d'optimiser l'intégration des produits ISODUR dans vos projets, et ce,
                                dans des délais répondant à vos besoins.
                            {% endblocktrans %}
                        </p>
                        <div class="image_content_1">
                            <div class="product_image_3_1"></div>
                            <div class="product_image_3_1"></div>
                            <div class="product_image_3_1"></div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-feedback_block">
                    <div class="feedback_text_block for_product_3_isodure">
                        <h1>{% trans 'PANNEAU ISOLANT MOULÉ POUR PLANCHER ' %}</h1>
                        <h2>{% trans 'CHAUFFANT ISODUR-HYDRO :' %}</h2>
                        <p>
                            {% blocktrans %}
                                ISODUR-HYDRO est un panneau isolant avec un design d'ancrages multidirectionnels pour
                                l'installation de tuyaux chauffants hydroniques (eau chaude). C'est un produit 2 en
                                1 qui permet d'isoler sous la dalle de béton et de faciliter la pose de tuyaux de 1/2
                                pouce.
                            {% endblocktrans %}
                        </p>
                        <p class="title_p_3">DESCRIPTION</p>
                        <p>
                            {% blocktrans %}
                                ISODUR-HYDRO est un panneau isolant moulé individuellement de 4 pieds x 4 pieds (1219 mm
                                x 1219 mm). Il est emboitable et chevauché de 1 pouce (25 mm) sur tous les côtés.
                            {% endblocktrans %}
                        </p>
                        <p class="title_p_3">CARACTÉRISTIQUES</p>
                        <p>
                            {% blocktrans %}
                                Épaisseurs de 2 1/2 pouces (64 mm) et 4 pouces (102 mm)
                                Facteurs R de R-10 et R-16
                                Les tuyaux peuvent être fixés sans attache dans le sens désiré
                                Plus flexible qu'un panneau coupé ou extrudé
                                100% recyclable
                                Peut contribuer à l'obtention de points dans un projet LEED®
                            {% endblocktrans %}
                        </p>
                        <p class="title_p_3">APPLICATIONS</p>
                        <p>
                            {% blocktrans %}
                                ISODUR-HYDRO peut être utilisé pour isoler sous la dalle de béton. Il répond aux
                                différents besoins d’isolation des constructions résidentielles, commerciales,
                                industrielles et institutionnelles.
                            {% endblocktrans %}
                        </p>
                        <div class="image_content_2">
                            <div class="product_image_3_2"></div>
                            <div class="product_image_3_2"></div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-feedback_block">
                    <div class="feedback_text_block for_product_3_isodure">
                        <h1>{% trans 'Caisse isotherme ' %}</h1>
                        <p>
                            {% blocktrans %}
                                ISODUR propose des thermo-emballages en polystyrène expansé, dans les secteurs
                                pharmaceutique et agroalimentaire, restauration, traiteur pour les produits sensibles à
                                la chaleur ou au froid qu'il faut stocker et transporter en respectant une certaine
                                plage de températures.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                En plus d'une sélection de 10 emballages standards et modulables différents, nous
                                offrons aussi des thermo-emballages sur mesure, conçus pour répondre parfaitement aux
                                besoins de nos clients.
                            {% endblocktrans %}
                        </p>
                        <p>
                            {% blocktrans %}
                                Vous pouvez faire confiance à notre longue expérience et à notre compétence en matière
                                de développement.
                            {% endblocktrans %}
                        </p>
                        <div class="image_content_1">
                            <div class="product_image_3_3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
