@import "../constants/fonts";
// Brand create font-family variables
$brand-family-light: "SegoeUILight";
$brand-family-regular: "SegoeUIRegular";
$brand-family-bold: "SegoeUIBold";
// Brand font color
$brand-font-color-primary: #87509a;
$brand-font-color-secondary: #646363;


// Header > nav
$nav-font-size: 14px;
$form-font-size: 10px;
$nav-font-transform: uppercase;
$nav-font-decoration: none;


